@import url('https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap');

body {
  font-family: 'Karma', serif;
}

.page-change {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

}

a {
  text-decoration: none;
  color: #000;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  /* Adjust the height to make the container take up the full height of the viewport */
}

.search-field {
  display: flex;
  align-items: center;
  position: relative;

}

.search-field svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  pointer-events: none;
  /* Prevent the SVG icon from being clickable */
}

.search-field input[type="text"] {

  border-radius: 33px;
  /* Adjust the value to control the roundness of the input */
  padding: 15px;
  padding-right: 15rem;
  border: 1px solid lightgrey;
}

.search-field input[type="text"]:hover {
  box-shadow: 0px 0px 5px 0px rgba(105, 98, 105, 0.3);
  border: 1px solid rgba(105, 98, 105, 0.25);
}

.submit-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

input[type="submit"] {
  cursor: pointer;
  border: 1px solid rgba(190, 185, 190, 0.13);
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

input[type="submit"]:hover {
  box-shadow: 0px 5px 5px 0px rgba(105, 98, 105, 0.10);
  border: 1px solid rgba(105, 98, 105, 0.25);
}

.language-text a {
  color: blue;
}

.language-text a:hover {
  text-decoration: underline;
}
.logo-subtext {
    color: rgb(14, 103, 206);
    margin-left: 100px;
    margin-top: -30px;
  }
  .form-group {
    display: flex;
    gap: 20px;
  }
  .blue-button {
    background-color: blue;
  }
  .blue-button:hover {
    box-shadow: 0px 5px 5px 0px rgba(17, 7, 160, 0.1);
    border: 1px solid rgba(105, 98, 105, 0.25);
  }
